* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

body {
    font-family: 'NanumSquare';
    color: #fff;
    letter-spacing: 1px;
}

#bgImage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    min-width: 1200px;
    max-height: 1400px;
    min-height: 800px;
    top: 0;
    left: 0;
    z-index: -5;
    filter: brightness(30%);
}

#clock-div {
    margin-top: 250px;
    text-align: center;
    font-family: 'Nanum Brush Script';
}

#today {
    font-size: 2rem;
    margin-bottom: -10px;
}

#clock {
    font-size: 7rem;
}

#clock-text {
    font-size: 2.5rem;
    margin-top: -10px;
}

#quotes {
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform:translate(-50%, -4%);
    color: rgba(255, 255, 255, 0.7);
    font-size: .9rem;
}

#weather {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 40px;
}

#weather span {
    display: inline-block;
    padding: 2px;
    font-size: .9rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}
